{%- if include.first != true -%}
  <br>
{%- endif -%}
{%- if include.contact.name -%}
  {%- assign contact = include.contact -%}
{%- else -%}
  {%- assign key = include.contact | downcase -%}
  {%- assign contact = site.data.people[key] -%}
{%- endif -%}
{%- if contact.name -%}
  <i class="fas fa-user"></i>
  {{ contact.name -}}<br>
{%- endif -%}
{%- if contact.email -%}
  <i class="fas fa-envelope"></i>
  <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
{%- endif -%}
{%- if contact.tel -%}
  <i class="fas fa-phone"></i>
  <a href="tel:{{ contact.tel }}">{{ contact.tel }}</a><br>
{%- endif -%}
