{%- if include.first != true -%}
  <br>
{%- endif -%}
{%- if include.contact.name -%}
  {%- assign contact = include.contact -%}
  {%- assign tel = contact.tel -%}
{%- else -%}
  {%- assign key = include.contact | downcase -%}
  {%- assign contact = site.data.authors[key] -%}
  {%- assign tel_obj = contact.links | find: "label", "Phone" -%}
  {%- assign tel = tel_obj.url | remove_first: "tel:" -%}
{%- endif -%}
{%- if contact.name -%}
  <i class="fas fa-fw fa-user"></i>
  {{ contact.name -}}<br>
{%- endif -%}
{%- if contact.email != "" and contact.email != nil -%}
  <i class="fas fa-fw fa-envelope"></i>
  {% include email.html addr=contact.email %}<br>
{%- endif -%}
{%- if tel != "" and tel != nil -%}
  <i class="fas fa-fw fa-phone"></i>
  <a href="tel:{{ tel }}">{{ tel }}</a><br>
{%- endif -%}
