{% if paginator.total_pages > 1 -%}
<nav class="pagination">
  <ul>
    {%- comment %} Link previous page {% endcomment %}
    {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
    {%- else %}
      <li><a href="#" class="disabled"><span aria-hidden="true">Previous</span></a></li>
    {%- endif -%}

    {%- comment %} First page if not in trail {% endcomment %}
    {%- if paginator.page_trail.first.num > paginator.first_page %}
      <li><a href="{{ paginator.first_page_path }}">{{ paginator.first_page }}</a></li>
    {%- endif %}

    {%- comment %} Ellipsis if gap between trail and first {% endcomment -%}
    {%- assign threshold = paginator.first_page | plus: 2 %}
    {%- if paginator.page_trail.first.num >= threshold %}
      <li><a href="#" class="disabled">&hellip;</a></li>
    {%- endif %}

    {%- comment %} All pages in trail {% endcomment %}
    {%- for trail in paginator.page_trail %}
      <li><a
          {%- if paginator.page == trail.num %} class="disabled current"
          {%- endif %} href="{{ trail.path | remove_first: "index.html" | relative_url }}">
          {{- trail.num -}}
      </a></li>
    {%- endfor %}

    {%- comment %} Ellipsis if gap between trail and last {% endcomment %}
    {%- assign threshold = paginator.last_page | minus: 2 %}
    {%- if paginator.page_trail.last.num <= threshold %}
      <li><a href="#" class="disabled">&hellip;</a></li>
    {%- endif %}

    {%- comment %} Last page if not in trail {% endcomment %}
    {%- if paginator.page_trail.last.num < paginator.last_page %}
      <li><a href="{{ paginator.last_page_path }}">{{ paginator.last_page }}</a></li>
    {%- endif %}

    {%- comment %} Link next page {% endcomment %}
    {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}">Next</a></li>
    {%- else %}
      <li><a href="#" class="disabled"><span aria-hidden="true">Next</span></a></li>
    {%- endif %}
  </ul>
</nav>
{% endif %}
