---
layout: single
---

{{ content }}

<ul class="taxonomy__index">
  {% assign docsByYear = site[page.collection]
    | where_exp: "item", "item.hidden != true"
    | group_by_exp: "doc", "doc.date | date: '%Y'" %}
  {% if page.sort_order == 'reverse' %}
    {% assign docsByYear = docsByYear | reverse %}
  {% endif %}
  {% for year in docsByYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong>
        <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% for year in docsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle" id="{{ year.name }}">{{ year.name }}</h2>
    <div class="entries-grid">
      {% assign entries = year.items %}
      {% if page.sort_order == 'reverse' %}
        {% assign entries = entries | reverse %}
      {% endif %}
      {% for post in entries %}
        {%- unless post.hidden -%}
          {% include archive-single.html type="grid" %}
        {%- endunless -%}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
