---
layout: archive
---

<style>
:root {
  --num-columns: 1;
  --dim-foreground: rgba(34, 40, 49, 0.44);
}

@media (min-width: 500px) {
  :root {
    --num-columns: 2;
  }
}

@media (min-width: 750px) {
  :root {
    --num-columns: 3;
  }
}

div.calendar {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(var(--num-columns), 1fr);
}

div.monthcard {
  border: solid 1px black;
  padding: 5%;
}

div.current {
  background-color: #e2e4e5;
  border-width: 2px;
}

h3.monthlabel {
  margin-top: .5em;
}

table tr:nth-child(even):not(.dim) {
  background-color: #e2e4e5;
}

div.current table tr:nth-child(even) {
  background-color: #eeeeee;
}

tr td {
  font-size: 110%;
}

tr td:first-child {
  text-align: end;
}

tr td:last-child {
  width: 100%;
}

div.dim {
  border-color: var(--dim-foreground);
}

a.dim,
h3.dim,
td.dim {
  color: var(--dim-foreground);
}

tr.dim {
  background-color: rgba(226, 228, 229, 0.5);
}

tr.current td,
tr.current a {
  font-weight: bold;
}
</style>

<script>
window.addEventListener("load", highlightCalendar);

function highlightCalendar() {
    let now = new Date();
    let curYear = now.getFullYear();
    let pageYear = getPageYear();

    if (pageYear > curYear) return;

    if (pageYear < curYear) {
        dimAllMonths();
        return;
    }

    dimPastMonthsAndHighlightCurrent(now);
}

function getPageYear() {
    let title = document.getElementById("page-title");

    return title.textContent.trim().split(" ")[0];
}

function dimAllMonths() {
    for (let i = 1; i <= 12; ++i) dimAllEventsOfMonth(i);
}

function dimAllEventsOfMonth(month) {
    let monthDiv = document.getElementById(`month${month}`);
    dimMonthNameAndBorder(monthDiv);

    let events = monthDiv.getElementsByTagName("tr");
    [...events].forEach(dimEvent);
}

function dimMonthNameAndBorder(monthDiv) {
    monthDiv.classList.add("dim");
    let monthName = monthDiv.firstElementChild;
    monthName.classList.add("dim");
}

function dimEvent(event, idx) {
    if (idx % 2) event.classList.add("dim");
    let [dayCell, eventLinkCell] = event.children;
    dayCell.classList.add("dim");
    eventLinkCell.firstElementChild.classList.add("dim");
}

function dimPastMonthsAndHighlightCurrent(now) {
    let curMonth = now.getMonth() + 1;
    let curDay = now.getDate();

    for (let i = 1; i < curMonth; ++i) dimAllEventsOfMonth(i);
    highlightCurrentMonth(curMonth, curDay);
}

function highlightCurrentMonth(month, curDay) {
    let monthDiv = document.getElementById(`month${month}`);
    monthDiv.classList.add("current");

    let events = [...monthDiv.getElementsByTagName("tr")];
    dimPastEvents(events, curDay);

    let today = events.find(event => event.children[0].textContent == curDay);
    if (today == undefined) return;

    highlightDay(today);
}

function dimPastEvents(events, curDay) {
    events
        .filter(event => event.children[0].textContent < curDay)
        .forEach(dimEvent);
}

function highlightDay(dayRow) {
    dayRow.classList.add("current");
}
</script>

{%- assign posts = site[page.collection]
  | group_by_exp: "item", "item.date | date: '%Y'"
  | where: "name", page.year
  | map: "items"
  | first %}

<div class="calendar">
  {%- for month in (1..12) -%}
    {%- capture datestamp %}{{ page.year }}-{{ month }}-01{% endcapture %}
    <div id="month{{ month }}" class="monthcard">
      <h3 class="monthlabel">{{ datestamp | date: "%B" }}</h3>
      <hr>
      {%- assign monthposts = posts
        | group_by_exp: "item", "item.date | date: '%-m'"
        | where: "name", month
        | map: "items"
        | first -%}
      {%- if monthposts %}
        <table>
          {%- for post in monthposts -%}
            {%- unless post.hidden %}
              <tr>
                <td>{{ post.date | date: "%e" }}</td>
                <td>
                    <a href="{{ post.url | relative_url }}" rel="permalink">
                      {{- post.title | markdownify | strip_html | strip_newlines -}}
                    </a>
                </td>
              </tr>
            {%- endunless -%}
          {%- endfor %}
        </table>
      {%- endif %}
    </div>
  {%- endfor %}
</div>
