---
layout: archive
---

<style>
:root {
  --num-columns: 1;
}

@media (min-width: 500px) {
  :root {
    --num-columns: 2;
  }
}

@media (min-width: 750px) {
  :root {
    --num-columns: 3;
  }
}

div.calendar {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(var(--num-columns), 1fr);
}

div.monthcard {
  border: solid 1px black;
  padding: 5%;
}

h3.monthlabel {
  margin-top: .5em;
}

table tr:nth-child(even) {
  background-color: #e2e4e5;
}

tr td {
  font-size: 110%;
}

tr td:first-child {
  text-align: end;
}

tr td:last-child {
  width: 100%;
}
</style>

{%- assign posts = site[page.collection]
  | group_by_exp: "item", "item.date | date: '%Y'"
  | where: "name", page.year
  | map: "items"
  | first %}

<div class="calendar">
  {%- for month in (1..12) -%}
    {%- capture datestamp %}{{ page.year }}-{{ month }}-01{% endcapture %}
    <div id="month{{ month | prepend: '0' | slice: -2, 2 }}" class="monthcard">
      <h3 class="monthlabel">{{ datestamp | date: "%B" }}</h3>
      <hr>
      {%- assign monthposts = posts
        | group_by_exp: "item", "item.date | date: '%-m'"
        | where: "name", month
        | map: "items"
        | first -%}
      {%- if monthposts %}
        <table>
          {%- for post in monthposts -%}
            {%- unless post.hidden %}
              <tr>
                <td>{{ post.date | date: "%e" }}</td>
                <td>
                    <a href="{{ post.url | relative_url }}" rel="permalink">
                      {{- post.title | markdownify | strip_html | strip_newlines -}}
                    </a>
                </td>
              </tr>
            {%- endunless -%}
          {%- endfor %}
        </table>
      {%- endif %}
    </div>
  {%- endfor %}
</div>
