---
layout: single
---

{{ page.date | date: "%B %-d, %Y" }}

{% if page.teaser -%}
  {%- include figure image_path=page.teaser -%}
{%- endif %}

<table>
  {%- if page.location -%}
    <tr>
      <th>Where</th>
      <td>{{ page.location }}</td>
    </tr>
  {%- endif -%}
  {%- if page.start_time or page.end_date -%}
    <tr>
      <th>When</th>
      <td>
        {%- if page.end_date -%}
          {{- page.date | date: "%B %-d" -}}
          {%- if page.start_time -%}
            ,&#32;
          {%- endif -%}
        {%- endif -%}
        {%- if page.start_time -%}
          {{- page.start_time | date: "%-I %p" -}}
        {%- endif -%}
        {%- if page.end_time or page.end_date -%}
          &#32;&ndash;&#32; 
        {%- endif -%}
        {%- if page.end_date -%}
          {{- page.end_date | date: "%B %-d" -}}
          {%- if page.end_time -%}
            ,&#32;
          {%- endif -%}
        {%- endif -%}
        {%- if page.end_time -%}
          {{- page.end_time | date: "%-I %p" -}}
        {%- endif -%}
      </td>
    </tr>
  {%- endif -%}
  {%- if page.address -%}
    <tr>
      <th>Address</th>
      <td>{{ page.address }}</td>
    </tr>
  {%- endif -%}
  {%- if page.web_url -%}
    <tr>
      <th>Web</th>
      <td>
        <a href="{{ page.web_url }}">{{ page.web_url_name | default: page.web_url }}</a>
      </td>
    </tr>
  {%- endif -%}
  {%- if page.contact -%}
    <tr>
      <th>Contact</th>
      <td>
        {%- if page.contact.name -%}
          {{- page.contact.name -}}<br>
        {%- endif -%}
        {%- if page.contact.email -%}
          <i class="fas fa-envelope"></i>
          <a href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a><br>
        {%- endif -%}
        {%- if page.contact.tel -%}
          <i class="fas fa-phone"></i>
          <a href="tel:{{ page.contact.tel }}">{{ page.contact.tel }}</a>
        {%- endif -%}
      </td>
    </tr>
  {%- endif -%}
</table>

{{ content }}
