---
layout: single
---

{{ page.date | date: "%B %-d, %Y" }}

{% if page.teaser -%}
  {%- include figure image_path=page.teaser -%}
{%- endif %}

<table>
  {%- if page.location -%}
    <tr>
      <th>Where</th>
      <td>{{ page.location }}</td>
    </tr>
  {%- endif -%}
  {%- if page.start_time or page.end_date -%}
    <tr>
      <th>When</th>
      <td>
        {%- if page.end_date -%}
          {{- page.date | date: "%B %-d" -}}
          {%- if page.start_time -%}
            ,&#32;
          {%- endif -%}
        {%- endif -%}
        {%- if page.start_time -%}
          {{- page.start_time | date: "%-I.%M %P" -}}
        {%- endif -%}
        {%- if page.end_time or page.end_date -%}
          &#32;&ndash;&#32; 
        {%- endif -%}
        {%- if page.end_date -%}
          {{- page.end_date | date: "%B %-d" -}}
          {%- if page.end_time -%}
            ,&#32;
          {%- endif -%}
        {%- endif -%}
        {%- if page.end_time -%}
          {{- page.end_time | date: "%-I.%M %P" -}}
        {%- endif -%}
      </td>
    </tr>
  {%- endif -%}
  {%- if page.address -%}
    <tr>
      <th>Address</th>
      <td>{{ page.address }}</td>
    </tr>
  {%- endif -%}
  {%- if page.web_url -%}
    <tr>
      <th>Web</th>
      <td>
        <a href="{{ page.web_url }}">{{ page.web_url_name | default: page.web_url }}</a>
      </td>
    </tr>
  {%- endif -%}
  {%- if page.contacts -%}
    <tr>
      <th>Contacts</th>
      <td>
        {%- for c in page.contacts -%}
          {%- include event-contact.html contact=c first=forloop.first -%}
        {%- endfor -%}
      </td>
    </tr>
  {%- elsif page.contact -%}
    <tr>
      <th>Contact</th>
      <td>
        {%- include event-contact.html contact=page.contact first=true -%}
      </td>
    </tr>
  {%- endif -%}
</table>

{{ content }}
