name: Deploy page

on:
  workflow_dispatch:
  schedule:
    - cron: 37 9 * * *
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md
      - LICENSE

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: Build page
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      RUBY_YJIT_ENABLE: 1
    steps:
      - name: Check out repo
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Ruby
        # yamllint disable-line rule:line-length
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c  # v1.269.0
        with:
          rubygems: 4.0.1
          bundler-cache: true

      - name: Build with Jekyll
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --verbose --baseurl ''

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0

  deploy:
    name: Deploy page
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
